/*=== WORDPRESS IMAGE STYLES ===*/

img .alignright {float:right; margin:0 0 1em 1em}
img .alignleft {float:left; margin:0 1em 1em 0}
img .aligncenter {display: block; margin-left: auto; margin-right: auto}
a img .alignright {float:right; margin:0 0 1em 1em}
a img .alignleft {float:left; margin:0 1em 1em 0}
a img .aligncenter {display: block; margin-left: auto; margin-right: auto}

/*=== GENERAL LAYOUT STYLES ===*/

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body {
    font-family: 'Lato', serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.content-wrapper,
.sp-content-wrapper {
    margin: 0 auto;
    width: 90%;
} 

.article-content {
    padding-top: 20px;
}

img {
    max-width: 100%;
}

h1 {
    color: $color-main;
}

h2,
.published-date {
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
}

p {
    line-height: 120%;
}

a {
    text-decoration: none;
    color: $color-main;
}

a:hover,
.latest-posts li a:hover {
    color: rgba(246, 67, 48, 0.6);
}

li {
    padding: 5px 0;
}


/*=== HEADER STYLES ===*/

.top-header {
    background: #161616;
}

/*=== NAV STYLES ===*/

header,
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding-right: 10px;
}

nav li {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
}

nav a:hover {
    color: $color-main;
}

li a:focus {
    font-weight: bold;
}

.current-menu-item a {
    font-weight: bold;
}

.logo {
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 12px;
    width: 50px;
    height: 50px;
}

/*=== PAGE HEADER STYLES ===*/

.homepage-intro,
.page-intro {
    background: #161616;
    width: 100%;
}

.homepage-intro {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;

}

.homepage-image{
    margin: 0 auto;
    margin-top: auto;
}

.ie-flex-wrapper-fix,
.ie-flex-wrapper-fix-sp {
    display: flex;
    flex-direction: column;
}

.page-intro,
.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-intro,
.home-section, 
.side-project-section,
.not-found-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-intro {
    min-height: 50vh;
}

.not-found-page{
    min-height: 69.5vh;
}

.home-section {
    min-height: 55vh;
}

.page-intro,
.side-project-section {
    text-align: center;
}

.homepage-titles {
    padding: 20px 15px 10px 15px;
    margin: 0 auto;
}

.page-titles,
.latest-posts {
    width: 90%;
    text-align: center;
} 

.latest-posts h2 {
    color: #161616;
}

.latest-posts ul {
    padding: 0;
}

.latest-posts li {
    list-style: none;
}

.latest-posts li a {
    text-decoration: none;
    color: $color-main;
}

/*=== SIDE PROJECT STYLES ===*/

.side-project-section {
    padding: 10px 0;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ie-flex-wrapper-fix-sp:nth-child(odd) {
    background-color: $color-main;
}

.sp-img {
    border: solid 1px #161616;
}

.button {
    text-align: center;
}

.sp-button,
.more-posts-button {
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
}

.sp-button {
    background-color: #161616;
    color: $color-main;
}

.more-posts-button {
    background-color: $color-main;
    color: #161616;
}

.sp-button:hover,
.more-posts-button:hover {
    color: white;
}


/*=== BLOG PAGE STYLES */

.blog-section {
    margin: 0;
    padding: 20px 15px;
}

.blog-section:last-child {
    padding-bottom: 10px;
}

.blog-section a {
    text-decoration: none;
    color: #161616;
}

.blog-section h3 {
    color: $color-main;
    text-decoration: underline;
}

.blog-section h3 {
    font-size: 1.2em;
}

.blog-section p {
    font-size: 0.9em;
}

.blog-hr {
    width: 90%;
}

.blog-hr:last-child {
    display: none;
}
