/*=== WORDPRESS IMAGE STYLES ===*/

img .alignright {float:right; margin:0 0 1em 1em;}
img .alignleft {float:left; margin:0 1em 1em 0;}
img .aligncenter {display: block; margin-left: auto; margin-right: auto;}
a img .alignright {float:right; margin:0 0 1em 1em;}
a img .alignleft {float:left; margin:0 1em 1em 0;}
a img .aligncenter {display: block; margin-left: auto; margin-right: auto;}

/*=== GENERAL LAYOUT STYLES ===*/

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body {
    font-family: 'Lato', serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.content-wrapper,
.sp-content-wrapper {
    margin: 0 auto;
    width: 90%;
} 

.article-content {
    padding-top: 20px;
}

img {
    max-width: 100%;
}

h1 {
    color: $color-main;
}

h2,
.published-date {
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
}

p {
    line-height: 120%;
}

a {
    text-decoration: none;
    color: $color-main;
}

a:hover,
.latest-posts li a:hover {
    color: rgba(246, 67, 48, 0.6);
}

li {
    padding: 5px 0;
}
