/*=== MEDIA QUERIES ===*/

@media screen and (min-width: 420px) and (orientation: landscape) {
    .side-project-section {
        min-height: 200vh;
    }
}

@media screen and (max-width: 670px) and (orientation: landscape) {
    
    .homepage-image {
        display: none;
    }
}

@media screen and (min-width: 667px)  {

    .homepage-titles {
        width: 70%;
    }

    .side-project-section {
        min-height: 150vh;
    }
}

@media screen and (max-width: 736px) and (orientation: landscape) {

    .content-wrapper,
    .blog-hr {
        width: 80%;
    }

    .homepage-intro,
    .home-section,
    .side-project-section {
        height: 100%;
    }
}

@media screen and (min-width: 737px) {

    .content-wrapper,
    .blog-hr {
        width: 80%;
    }

    .homepage-intro {
        min-height: 50vh;
    }

    .side-project-section {
        min-height: 70vh;
    }

    .homepage-image {
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
        .home-section {
            min-height: 35vh;
    }
}

@media screen and (min-width: 1024px)   {

    .content-wrapper,
    .blog-hr {
        width: 70%;
    }

    .homepage-titles {
        margin-top: 150px;
    }
    
    .side-project-section {
        min-height: 60vh;
    }

     .sp-content-wrapper {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sp-info {
        width: 40%;
    }

    .sp-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button {
        padding: 15px 0 10px 0;
    }

}

@media screen and (min-width: 1100px)  {

    .content-wrapper,
    .blog-hr {
        width: 50%;
    }

    .homepage-titles{
        text-align: center;
        margin: 0 auto;
    }

    .homepage-image {
        margin: 0 auto;
        margin-top: auto;
    }

    .home-section {
        min-height: 50vh;
    }
}

@media screen and (min-height: 569px) {
    .not-found-page {
        min-height: 75vh;
    }
}


@media screen and (min-height: 668px) {
    .not-found-page {
        min-height: 78vh;
    }
}

@media screen and (min-height: 737px) {
    .not-found-page {
        min-height: 83vh;
    }
}

@media screen and (min-height: 1025px) {
    .not-found-page {
        min-height: 87vh;
    }
}

@media screen and (min-height: 1350px) {
    .not-found-page {
        min-height: 100vh;
    }
}